[submodule "repos/cinephage"]
	path = repos/cinephage
	url = https://github.com/MoldyTaint/Cinephage.git
	branch = main
[submodule "repos/cinephage-dev"]
	path = repos/cinephage-dev
	url = https://github.com/MoldyTaint/Cinephage.git
	branch = dev
